* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #050505;
  color: #e0e0e0;
  overflow-x: hidden;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

.logo {
  letter-spacing: 3px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #aaa;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("images/hero1.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
}

.hero h2 {
  font-size: 3rem;
  letter-spacing: 4px;
}

.hero p {
  margin-top: 10px;
  color: #bbb;
}

/* ABOUT */
.about {
  padding: 100px 10%;
  background: #0b0b0b;
}

.about h2 {
  margin-bottom: 20px;
  border-left: 4px solid #444;
  padding-left: 10px;
}

/* GALLERY */
.gallery {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(40%);
  transition: 0.4s;
}

.gallery img:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #666;
}
.rain {
  position: fixed;
  top: -10px;
  width: 1px;
  height: 20px;
  background: rgba(255,255,255,0.2);
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}
